body {
    background-color: #fff;
    min-height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
    margin-top: -60px;
}

.verify {
    background-color: #fff;
    width: 100%;
    max-width: 900px;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.verify__text {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.verify__btn {
    display: block;
    width: 200px;
    padding: 12px;
    background-color: #c6c4c4;
    color: #000;
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    margin: 50px auto 0;
    box-sizing: border-box;
}

.verify__form {
    margin-top: 50px;
}

.verify__btn--resend {
    background-color: #fff;
    color: var(--color-blue);
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
}

.verify__btn:hover {
    opacity: 0.8;
}

.verify__btn--resend:hover {
    opacity: 0.8;
}